Client/.import/
Client/android/
Client/export_presets.cfg

Server/.import/
Server/build/

Exports/
Other/
Publishing/*
!Publishing/banner_small.png
!Publishing/screenshot_game_small.png

*.keystore
*.import
Godot_v*.64
SECRET.md

marketing.txt
Server_backup.zip